.item {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 0 1em var(--shadow-color);
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: 0 0 1.5em var(--shadow-color);
    }

    &.completed {
        text-decoration: line-through;
        opacity: 0.7;
    }
}

.toggles {
    color: var(--text-primary);
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid var(--border-color);
}
